.root {
	-fx-background-image: url("https://cdn.pixabay.com/photo/2016/09/08/12/00/stars-1654074_960_720.jpg");
	
}
.button{
	-fx-background-color: black;
    -fx-background-radius: 50,50,5,5;
    -fx-border-radius: 50;
    -fx-border-color: #4000bf;
    -fx-border-width: 2px;
	
}

