.root {
	-fx-background-image: url("https://cdn.pixabay.com/photo/2015/12/01/15/43/black-1072366_960_720.jpg");
	
}
.text {
}

.button{
	-fx-background-radius: 100;
	-fx-background-color:
            linear-gradient(#ffd400, #ff0000),
            radial-gradient(center 50% 50%, radius 50%, #FFFFFF33, #00000033); 
	-fx-border: black;
	-fx-border-radius: 30;
	
}